<style>
.nav-link{
  color: white;
}
.nav-link:hover{
  background-color: white;
}
</style>

<nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #26251C !important" >
  <div class="container" id="navContainer">
    <%= link_to "/", class: "navbar-brand" do %>
      <%= image_tag("white-logo.png", style: "width: 50px; color: white;") %>
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if user_signed_in? %>
            <% if current_user.personal %>
              <li class="nav-item" >
                <%= link_to "Productos", personal_products_path, class: "nav-link" %>
              </li> 
              <li class="nav-item" >
                <%= link_to "Categorias", categories_path, class: "nav-link" %>
              </li> 
              <li class="nav-item" >
                <%= link_to "Proveedores", suppliers_path, class: "nav-link" %>
              </li> 
              <li class="nav-item" >
                <a class="nav-link" href="#">Historial</a>
              </li> 
            <%else%>
              <li class="nav-item" >
                <%= link_to "Productos", available_products_path, class: "nav-link" %>
              </li>
            <%end%>
          <% end %>
      </ul>
      <div class="d-flex" >
        <% if !user_signed_in? %>
            <div style="padding: 5px 20px; border-radius: 5px">
              <li class="nav-item" style="margin: 0 10px 0 0; list-style-type: none;">
                  <%= link_to raw('Iniciar Sesión'), new_user_session_path, class: "nav-link".html_safe, style: "margin: 0px; padding: 8px;"%>
              </li>
            </div>
        <% else %>
            <li class="nav-item" style="margin: 0px; padding: 8px; list-style-type: none;">
                <%= link_to raw('Cerrar Sesión'),  destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link".html_safe, style: "margin: 0px; padding: 8px"%>
            </li>
        <% end %>
      </div>
    </div>
  </div>
</nav>