<div class="container" id="banner" style="height: 100%; display: flex; align-items: center; justify-content: center">
    <% if !user_signed_in? %>
        <div style="width: 100%">
            <div style="width: 100%">
                <div> <h1 style="font-size: 8rem; margin-bottom: 10px">Store</h1> </div>
                <div style='margin-bottom: 30px'><h3>Si no encuentras algo de lo que buscas, contactanos y lo conseguimos por ti</h3></div>
                <%= link_to "¡Registrate y comienza a comprar facilmente!", new_user_registration_path, class:"btn btn-primary", id: "btnRegister", style: "background-color: #f2643d; border: none; font-size: 1.2rem; padding: 10px" %>
            </div>
            
        </div>
    <% end%>

    <% if user_signed_in? %>
        
        <% if @user.personal %>
            <div> 
                <h1 style="font-size: 6rem; margin-top: 50px" >Bienvenido <%=  @user.username %> </h1>
                <h2>Area de almacen</h2> 
                <% if @rotation_pending %>
                    <div class="rotation-banner">
                        HOLA HAY UNA ROTACION PENDIENTE
                    </div>
                    <%= form_for @rotation_pending, url: rotation_path(@rotation_pending), method: :patch do |f| %>
                        <%= f.submit 'Completar Rotación' %>
                    <% end %>
                <% end %>
            </div>
        <%else%>
            <div> 
                <h1 style="font-size: 6rem" >Bienvenido <%=  @user.username %> </h1> 
            </div>
        <% end %>
        
    <% end %>
</div>