<div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="cartModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title fs-5" id="cartModalLabel">Carrito de compras</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
        </div>
        <div class="modal-body" id="cartModalBody">
            <%= render 'cart_items/cart_content' %>
        </div>
        <div class="modal-footer">
            <h4 id="totalCompra"></h4>
            <%= form_with(model: @cart_item, url: checkout_cart_items_path, method: :post, local: true, html: { class: 'buy-cart-form' }) do |f| %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :total_amount, value: 0, id: "totalAmount"%>

                <div class="form-check">
                    <%= f.check_box :receive_receipt, class: 'form-check-input' %>
                    <%= f.label :receive_receipt, 'Quiero recibir mi recibo por correo', class: 'form-check-label' %>
                </div>
                
                <%= f.button type: 'submit', class: 'btn btn-primary buy-button', data: { bs_toggle: 'tooltip', bs_placement: 'left', title: 'Realizar Compra' } do %>
                    Realizar Compra
                <% end %>
            <% end %>
        </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        function getTotal() {
            $.ajax({
                url: '/products/total',
                method: 'GET',
                success: function(totalResponse) {
                    var total = totalResponse.total;
                    $('#totalAmount').val(total);
                    console.log(total)
                }
            });
        }
        getTotal()
        $('.buy-cart-form').submit(function(e) {
            let finalTotal = document.querySelector('#totalCompra')
            e.preventDefault();
            $.ajax({
                url: $(this).attr('action'),
                type: $(this).attr('method'),
                data: $(this).serialize(),
                success: function(response) {
                    Swal.fire({
                        position: 'bottom-end',
                        icon: 'success',
                        title: 'Tu compra sera procesada, consulta los detalles en "Mis compras"',
                        showConfirmButton: false,
                        timer: 6000,
                        toast: true 
                    }); 
                    location.reload();
                },
                error: function(error) {
                    console.error('Error al realizar la compra:', error);
                }
            });
        });
    });
</script>
