<div class="container">
    <div style="margin: 50px 0">
    <h1>Productos</h1>
        <%= link_to "Agregar producto", personal_products_new_path, class: "btn btn-success" %>
        <%= form_tag personal_products_path, method: :get, id: 'search-form' do %>
        <div class="input-group mb-3 mt-4">
            <%= text_field_tag :search, params[:search], placeholder: "Buscar productos", class: "form-control", style: "border-top-left-radius: 20px; border-bottom-left-radius: 20px"%>
            <%= submit_tag "Buscar", class: "btn btn-light", style: "background-color: #ee7784; border-color: #ee7784"%>
        </div>
    <% end %>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Ubicacion</th>
                <th scope="col">Precio</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <%@products.each do |product|%>
                <tr>
                    <th scope="row"><%= product.id %></th>
                    <td><%= product.name %></td>
                    <td><%= product.description %></td>
                    <td><%= product.location %></td>
                    <td><%= product.price %></td>
                    <% id = product.id %>
                    <td>
                        <%= link_to 'Delete', delete_product_path(product.id), class: 'delete-product btn btn-danger', data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'} %>
                        <%= link_to "Editar", edit_product_path(product.id), class: "btn btn-warning" %>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
</div>