<h1>Agregar producto</h1>
<div style='width: 50%'>
    <%= form_with(model: @product, url: product_path, method: :post, local: true) do |f| %>
        <div class="mb-3">
            <%= f.label :name, "Nombre:", class: "form-label", style: "color: #3f3844;", for: "nameValidation" %>
            <em>(Minimo 10 caracteres, maximo 40)</em><br>
            <%= f.text_field :name, class: "form-control", id: "nameValidation", required: true %>
        </div>
        <div class="mb-3">
            <%= f.label :description, "Descripcion:", class: "form-label", style: "color: #3f3844;", for: "descValidation" %>
            <em>(Minimo 40 caracteres, maximo 250)</em><br>
            <%= f.text_area :description, class: "form-control", id: "descValidation", required: true %>
        </div>
        <div class="field">
            <%= f.label :image, "Imagen:", for: "imgValidation" %>
            <%= f.file_field :image, class: "form-control", id: "imgValidation", required: true %>
        </div>
        <div class="mb-3">
            <%= f.label :location, "Ubicacion:", class: "form-label", style: "color: #3f3844;", for: "locationValidation" %>
            <%= f.text_field :location, class: "form-control", id: "locationValidation", required: true  %>
        </div>
        <div class="mb-3">
            <%= f.label :price, "Precio:", class: "form-label", style: "color: #3f3844;", for: "priceValidation" %>
            <%= f.number_field :price, class: "form-control", step: 'any', id: "priceValidation", required: true  %>
        </div>
        <div class="field">
            <%= f.label :category_id, "Categoría:", for: "categoryValidation" %>
            <%= f.collection_select :category_id, @categories, :id, :name, { prompt: 'Selecciona una categoría' } , class: "form-select", id: "categoryValidation", required: true %>
        </div>

        <div class="field">
            <%= f.label :supplier_id, "Proveedor:", for: "supplierValidation" %>
            <%= f.collection_select :supplier_id, @suppliers, :id,  ->(supplier) { "#{supplier.enterprise} - #{supplier.name}" }, { prompt: 'Selecciona un proveedor' }, class: "form-select", id: "supplierValidation", required: true %>
        </div>
        <div class="text-center"><%= f.submit "Agregar producto" %></div>
    <% end %>
</div>