<div class="container">
    <div class="row" style="margin-top: 50px; margin-bottom: 20px">
        <div class="col-9">
            <h1>Detalles del producto</h1>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#cartModal" style="background-color: #f2643d; color: white;">
                Mi carrito <i class="fa-solid fa-cart-shopping"></i>
            </button>
        </div>
    </div>

    <%= render 'modal_carrito' %>

    <div class="row" style="display: flex; justify-content: center; align-items: center;">
        <div class="col">
            <%= image_tag @product.image, class: "card-img-top mx-auto img-thumbnail img-thumbnail-show", width: "auto", height: "auto"%>
        </div>
        <div class="col" style="display: flex; justify-content: center; align-items: center;">
            <div class="card" style="width: 18rem; width: 95%; padding: 30px">
                <div class="card-body">
                    <h3 class="card-title" style="font-size: 1.9rem"> <%= @product.name %> </h3>
                    <h6 class="card-subtitle mb-2 text-body-secondary"> <%= @product.category.name %> </h6>
                    <p class="card-text" style="font-size: 1.3rem"> <%= @product.description %> </p>
                    <p class="card-text" style="font-size: 1.2rem">Ubicación dentro de la tienda: </p>
                    <p class="card-text" style="font-size: 1.2rem; font-weight: bold"><%= @product.location %> </p>
                    <div>
                        <div class="row">
                            <div class="col-12 text-center">
                                <p style="font-size: 2rem; color: green;">$<%= @product.price %>0 mxn </p>
                            </div>
                            <div class="col-12 text-center">
                                <p class="card-link" style="font-size: 1.5rem">En existencia: <%=@product.on_sale%> unidades</p>
                            </div>
                        </div>
                    </div>
                    
                    <% if @product.on_sale == 0  %>
                        <h3 class="text-center" style="color:red">Por el momento no puedes agregar este producto a tu carrito</h3>
                    <% else %>
                        <%= form_with(url: cart_items_path, local: true, class: 'add-to-cart-form') do |form| %>
                            <%= hidden_field_tag :product_id, @product.id %>
                            <div style="width:100%; display: flex; justify-content: center; align-items: center">
                                <span class="input-wrapper">
                                    <span style="user-select: none; background: white; border: .5px solid black; color: red; font-size: 1.7rem" class="input-button decrement">-</span>
                                        <%= number_field_tag :quantity, 1, min: 1,class: "quantity", id: "quantity-bro" %>
                                    <span style="user-select: none; background: white; border: 1px solid black; color: green; font-size: 1.5rem" class="increment input-button">+</span>
                                </span>
                            </div>
                            <%= submit_tag 'Agregar al carrito', class: 'btn btn-show  cart px-auto', id:'agregar-carrito', style: "font-size: 1.2rem" %>
                        <% end %>
                    <% end %>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
    const incrementButtons = document.querySelectorAll(".increment");
    const decrementButtons = document.querySelectorAll(".decrement");
    const quantityInputs = document.querySelectorAll(".quantity");
    incrementButtons.forEach(function(button, index) {
        button.addEventListener("click", function() {
            quantityInputs[index].value = parseInt(quantityInputs[index].value) + 1;
        });
    });
    decrementButtons.forEach(function(button, index) {
        button.addEventListener("click", function() {
            if (parseInt(quantityInputs[index].value) > 1) {
                quantityInputs[index].value = parseInt(quantityInputs[index].value) - 1;
            }
        });
    });

    let totalAfterAdding = document.querySelector('#totalCompra')
    function updateTotal() {
        $.ajax({
        url: '/products/total',
        method: 'GET',
        success: function(totalResponse) {
            var total = totalResponse.total;
            totalAfterAdding.innerText = 'Total: $' + total;
            $('#totalAmount').val(total);
        }
        });
    }
    updateTotal();
    $('.add-to-cart-form').submit(function(e) {
            e.preventDefault();

            $.ajax({
            url: $(this).attr('action'),
            method: $(this).attr('method'),
            data: $(this).serialize(),
            success: function(response) {
                $('#cartModalBody').html(response);
                updateTotal();
                Swal.fire({
                position: 'bottom-end',
                icon: 'success',
                title: 'Producto agregado al carrito',
                showConfirmButton: false,
                timer: 1500,
                toast: true 
                });
            }
            });
        });
    });
</script>


