<style>
    th{
        background-color: #3f3844 !important; 
        color: white !important;
        border-right: 1px solid white;
    }
</style>

<div class="container">
  <div style="margin: 50px 0">
      <div class="row" style="display: flex; justify-content: center; align-items: center">
          <div class="col-3">
              <h1>Productos del proveedor</h1>
          </div>
          <div class="col-6">
              <%= form_tag see_supplier_products_path(@supplier), method: :get, id: 'search-form' do %>
                  <div class="input-group">
                      <%= text_field_tag :search, params[:search], placeholder: "Buscar productos del proveedor", class: "form-control"%>
                      <%= submit_tag "Buscar", class: "btn btn-light", style: "background-color: #3f3844; border-color: #3f3844; color: white"%>
                  </div>
              <% end %>
          </div>
      </div>
  </div>

  <% if @products.any? %>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Cantidad a la venta</th>
                <th scope="col">Cantidad almacen</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <%@products.each do |product|%>
                <tr>
                    <th scope="row"><%= product.id %></th>
                    <td><%= product.name %></td>
                    
                    <% if product.on_sale %>
                      <td><%= product.on_sale %></td>
                    <% else %>
                      <td><p style="color: red">Sin existencia</p></td>
                    <% end %>

                    <% if product.in_stock %>
                      <td><%= product.in_stock %></td>
                    <% else %>
                      <td><p style="color: red">Sin existencia</p></td>
                    <% end %>

                    <td>
                      <div class="row text-center">
                        <div class="col-12">
                          <button class="btn btn-primary" onclick="openSwal(this, <%= product.id %>)">
                            <div class="spinner-container" style="display:none;">
                                <div class="spinner-border" role="status">
                                    <span class="visually-hidden">Cargando...</span>
                                </div>
                            </div>
                            <p class="text-container" style='margin-bottom: 0px;'>Registrar Lote</p> 
                          </button>
                        </div>
                      </div>
                    </td>
                </tr>
            <%end%>
        </tbody>
    </table>
  <%else%>
      <div style="width: 100%; display: flex; justify-content: center; align-items: center">
        <p style="font-size: 2rem;">No existe ningún resultado que coincida con la busqueda</p>
      </div>
  <% end %>
</div>


<script>
function openSwal(button, productId) {
  let currentUrl = window.location.href;
  let newUrl = currentUrl + (currentUrl.includes('?') ? '&' : '?') + 'product_id=' + productId;
  let spinnerContainer = $(button).find('.spinner-container');
  let textContainer = $(button).find('.text-container');
  spinnerContainer.show();
  textContainer.hide();
  $.ajax({
    url: newUrl,
    method: 'GET',
    success: function(response) {
      spinnerContainer.hide();
      textContainer.show();
      Swal.fire({
        title: 'Registrar Lote',
        html: response,
        showCloseButton: true,
        showCancelButton: true,
        focusConfirm: false,
        confirmButtonText: 'Registrar',
        cancelButtonText: 'Cancelar',
        confirmButtonColor: '#0d6efd',
        cancelButtonColor: '#B6B6B6',
      }).then((result) => {
        if (result.isConfirmed) {
          document.getElementById('submit-lote').click();
        }
      });
    },
    error: function() {
      spinnerContainer.hide();
    }
  });
}
</script>