<style>
    .swal2-warning{
        color: red !important;
        border-color: red !important;
    }
    th{
        background-color: #3f3844 !important; 
        color: white !important;
        border-right: 1px solid white;
    }
</style>

<div class="container">
    <div style="margin: 50px 0">
        <div class="row" style="display: flex; justify-content: center; align-items: center">
            <div class="col-3">
                <h1>Proveedores</h1>
            </div>
            <div class="col-6">
                <%= form_tag suppliers_path, method: :get, id: 'search-form' do %>
                    <div class="input-group">
                        <%= text_field_tag :search, params[:search], placeholder: "Buscar proveedor", class: "form-control"%>
                        <%= submit_tag "Buscar", class: "btn btn-light", style: "background-color: #3f3844; border-color: #3f3844; color: white"%>
                    </div>
                <% end %>
            </div>
            <div class="col-3 d-flex justify-content-end">
                <%= link_to "Registrar proveedor", new_supplier_path, class: "nav-link", class: "btn btn-primary" %>
            </div>
        </div>
    </div>

    
    <% if @suppliers.any? %>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <%@suppliers.each do |supplier|%>
                    <tr>
                        <th scope="row"><%= supplier.id %></th>
                        <td><%= supplier.name %></td>
                        <td><%= supplier.firstname %></td>
                        <td><%= supplier.phone_number %></td>
                        <td><%= supplier.enterprise %></td>
                        <td>
                            <div class="row text-center">
                                <div class="col-4">
                                    <%= form_with(model: supplier, url: supplier_path(supplier.id), method: :delete, local: true, html: { class: 'delete-form' }) do |form| %>
                                        <%= form.submit 'Eliminar', class: 'delete-supplier btn btn-danger', style: "width: 100%" %>
                                    <% end %>
                                </div>
                                <div class="col-4">
                                    <%= link_to "Editar", edit_supplier_path(supplier.id), class: "btn btn-secondary", style: "width: 100%" %>
                                </div>
                                <div class="col-4">
                                    <%= link_to "Ver productos", see_supplier_products_path(supplier), class: "btn btn-success", style: "width: 100%" %>
                                </div>
                            </div>
                        </td>
                    </tr>
                <%end%>
            </tbody>
        </table>
        <nav id="paginacionNav">
            <ul class="pagination">
                <%== pagy_nav(@pagy) %>
            </ul>
        </nav>
    <% else %>
        <div style="width: 100%; display: flex; justify-content: center; align-items: center">
            <p style="font-size: 2rem;">No existe ningún resultado que coincida con la busqueda</p>
        </div>
    <% end %>
</div>

<script>
    $(document).ready(function() {
        $('.delete-form').submit(function(event) {
            event.preventDefault();

            const form = $(this);

            Swal.fire({
                title: '¿Estas seguro de querer realizar esta acción?',
                text: '¡La eliminación de un proveedor no puede ser deshecha!',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#B6B6B6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, eliminar',
                cancelButtonText: "No, cancelar",
            }).then((result) => {
                if (result.isConfirmed) {
                    form.unbind('submit').submit();
                }
            });
        });
    });
</script>
